@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');


/* Reset de propriedades */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body { 

    font-family: 'Quicksand', sans-serif;
    color: grey;
}

.container-grid {
    width: 80%;
    margin: 0 auto;
    
}

header {
    background-color: grey;
}
/* FLEX-BOX */
header .header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
    
}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}


h2 {
    
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    
}

p {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header nav  {
    color: white;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

header nav a {
    color: white;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.column-flex {
    display: flex;
    justify-content: space-between;

}

main .coluna1 {
    width: 75%;
    background-color: brown;
}

main .coluna2 {
    width: 20%;
    background-color: burlywood;
}
