@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');


/* Reset de propriedades */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body { 

    font-family: 'Quicksand', sans-serif;
    color: grey;
    background-color: #edeced;
}

/* max-width e min-width ditam o mínimo e o maáximo de alteração na proporção do site */
.grid-layout {
    width: 100%;
    max-width: 1000px;
    min-width: 992px;
    margin: 0 auto;
    
}

header {
    background-color: grey;
}
/* FLEX-BOX */
header .header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
    
}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}


h2 {
    
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    
}

p {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

header nav  {
    color: white;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

header nav a {
    color: white;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
 .column-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

main .coluna1 {
    width: 75%;
    background-color: white;
    
}

main .coluna2 {
    width: 20%;
   
}
main .coluna1 #Lápis {
    width: 100%;
}

main .coluna2 article {
    background-color: white;
}

main .coluna1 p {
    margin: 20px;
}


footer {
    padding: 0;/* top right bottom left */
    padding: 0 20px;/* top/bottom right/left */
    padding: 0 20px 40;/* top right/left bottom */
    padding: 10px 10px 10px 10px;/* top right bottom left */
    
    color: white;
    
    background-color: grey;
}


